.advantages {
  @include wrapper;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    border-bottom: 1px solid $tablet-border-grey;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 26px;
    border: none;
  }
}

// .advantages__wrapper{}

.advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  //@media (min-width: $desktop-width) {

  //}
}

.advantages__list {
  @include list-style;
  display: grid;
  grid-template-rows: repeat(4, 60px);
  gap: 20px;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 280px);
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  display: flex;
  padding-left: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-top: 40px;
    }
  }

  &--benefit {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icons/icon-leaf.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--convenience {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icons/icon-tub.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--comfort {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icons/icon-eat.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--time {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icons/icon-alarm.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }


  @media (min-width: $tablet-width) {
    padding: 0;

    &::after {
      content: counter(item);
      position: absolute;
      counter-increment: item;
      width: 134px;
      top: 0;
      left: 110px;
      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", sans-serif;
      color: $basic-grey;
      background-color: $basic-white;
      z-index: -1;
    }
  }

  //@media (min-width: $desktop-width) {}
}

.advantages__description {
  margin: 0;
  color: $basic-grey-text;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 151px;
    width: 245px;
  }

  //@media (min-width: $desktop-width) {

  //}
}

// .advantages__item--benefit{}
// .advantages__item--convenience{}
// .advantages__item--comfort{}
// .advantages__item--time{}
