.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;

  &:hover {
    background-color: $basic-green-hover;
  }

  &:active {
    color: rgba($color: $basic-white, $alpha: 0.3);
  }

  &:focus-visible {
    outline: 2px solid $basic-green-hover;
    outline-offset: 0;
  }
}
