//.catalog-addition {

//}

.catalog-addition__title {
  border-bottom: 1px solid #cdcdcd;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

// .catalog-addition__wrapper{}

.catalog-addition__list {
  @include list-style;
}

.catalog-addition__item {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 19px;
  padding-top: 13px;
}

.catalog-addition__name {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog-addition__number {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  color: #444444;
}

.catalog-addition__price {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  color: #444444;
}

.catalog-addition__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
