.catalog {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include wrapper;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
    width: 1440px;
    margin: 0 auto;
  }
}

.catalog__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 141px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 143px 80px;
  }
}

.catalog__item {
  border-bottom: 1px solid $special-grey-2;
  padding: 19px 20px 25px 20px;

  &:first-child .product-card__image {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 430px;
    border: none;
    background-color: $basic-grey;
    padding: 110px 37px 39px 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }
}

.catalog__item--more {
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 38px 38px 37px;
    background-color: $basic-white;
    border: 2px solid $basic-grey;
  }
}

.catalog__product-card--more {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-plus.svg");
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icons/icon-plus-tablet.svg");
      width: 60px;
      height: 60px;
    }
  }
}

.catalog__wrapper-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;

  @media (min-width: $tablet-width) {
    margin-top: 107px;
  }
}

.catalog__title-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special-black;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.catalog__text-more {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey-text;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 168px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 84px;
    text-align: center;
  }
}

.catalog__link-more {
  background-color: $basic-grey;
  color: $basic-grey-text;

  &:hover {
    background-color: $special-grey-2;
  }

  &:active {
    color: rgba($color: $basic-grey-text, $alpha: 0.3);
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  min-height: 40px;
  width: 100%;
  padding: 10px;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
