// .catalog{}

.catalog__list {
  @include list-style;
  border-top: 1px solid $special-grey-2;
}

.catalog__item {
  border-bottom: 1px solid $special-grey-2;
  padding: 19px 0 25px 0;
}

// .catalog__product-card{}
