.example {
  background-color: $special-example;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      background-color: $special-example;
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      z-index: -10;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.example__wrapper {
  @include wrapper;
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 65px;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    margin-top: 33px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  color: $basic-grey-text;
  margin: 0;
  margin-bottom: 20px;
  margin-right: -3px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 438px;

    br {
      display: none;
    }
  }
}

.example__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__list {
  @include list-style;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-template-rows: 56px;
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    grid-template-rows: auto;
    gap: 42px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__item {
  border: 1px solid $special-grey;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 14px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 18px;
  bottom: -16px;
  background-color: $special-example;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 129px;
    bottom: -11px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $special-example;
  }
}

.example__price {
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 277px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 576px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.example__slider-image {
  position: relative;
  width: 280px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.example__image-wrapper {
  position: absolute;
  width: 280px;
  height: 232px;
  left: 0;

  &--after {
    left: 19px;
    display: none;
  }

  &--before {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 511px;
    display: block;

    &--after {
      left: 50%;
    }
  }
}

.example__image {
  @media (min-width: $tablet-width) {
    width: 592px;
    object-fit: cover;

    &--after {
      height: 514px;
      object-position: 100% 0;
    }

    &--before {
      height: 504px;
      object-position: 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--after {
      height: 510px;
    }

    &--before {
      height: 500px;
    }
  }
}

.example__range {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 40px;
    padding: 0 14px;
    margin-bottom: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__range-scale {
  position: relative;
  margin: 0 13px;

  @media (min-width: $tablet-width) {
    margin: 0 23px;
  }
}

.example__range-bar {
  width: 86px;
  height: 14px;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background-color: $tablet-range;
  }
}

.example__range-toggle {
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  left: 7px;
  top: 4px;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    left: 195px;
    top: -14px;
    box-shadow: 0 1px 3px rgba($color: $basic-black, $alpha: 0.16);

    &:hover {
      box-shadow: 0 2px 4px rgba($color: $basic-black, $alpha: 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px rgba($color: $basic-black, $alpha: 0.2);
      border-color: $basic-green;
    }

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
      z-index: 2;
      left: 12px;
      top: 12px;
    }
  }
}

.example__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: $basic-black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba($color: $basic-black, $alpha: 0.4);

    &:hover {
      border-bottom: 1px solid rgba($color: $basic-black, $alpha: 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }

  &:focus-visible {
    outline: 1px solid $basic-black;
    outline-offset: 2px;
  }
}
