.example {
  @include wrapper;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $special-example;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 60px;
    background-color: $basic-white;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      background-color: $special-example;
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 70px;
    border: none;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    margin-top: 43px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  color: $basic-grey-text;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    width: 440px;
  }
}

.example__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__list {
  @include list-style;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-template-rows: 56px;
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    grid-template-rows: 72px;
    gap: 42px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__item {
  border: 1px solid $special-grey;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  //@media (min-width: $desktop-width) {
  //}
}


.example__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 18px;
  top: 46px;
  background-color: $special-example;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    top: 58px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $special-example;
  }
}

.example__price {
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 600px;
    height: 576px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    justify-content: space-between;
  }
}

.example__slider-image {
  margin-bottom: 15px;
}

.example__range {
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__range-scale {
  position: relative;
  margin: 0 13px;

  @media (min-width: $tablet-width) {
    margin: 0 23px;
  }
}

.example__range-bar {
  width: 86px;
  height: 14px;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background-color: $tablet-range;
  }

  //@media (min-width: $desktop-width) {

  //}
}

.example__range-toggle {
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  left: 6px;
  top: 4px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    left: 50%;
    top: -14px;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
      z-index: 2;
      left: 13px;
      top: 13px;
    }
  }
}

.example__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  //@media (min-width: $desktop-width) {}
}
