.field-comment {
  border: none;
  border-top: 2px solid $basic-green;
}

.field-comment__legend {
  font-size: 24px;
  line-height: 26px;
}

// .field-comment__label{}

.field-comment__input {
  border: 1px solid $special-input;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-grey-text;
  line-height: 18px;
}
