.field-addition {
  border: none;
}

.field-addition__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 222px);
    grid-template-rows: repeat(2, 40px);
    gap: 32px 123px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.field-addition__item {
  margin-bottom: 13px;
}

.field-addition__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

// .field-addition__input{}
