.field-personal {
  border: none;
}

.field-personal__list {
  @include list-style;
}

// .field-personal__item{}
.field-personal__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-grey-text;
}

.field-personal__input {
  border: 1px solid $special-input;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-grey-text;
}
