.field-comment {
  border: none;
}

.field-comment__wrapper {
  @include wrapper-form;
  padding-top: 36px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
    width: 1440px;
    margin: 0 auto;
  }
}

.field-comment__input {
  border: 1px solid $special-input;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $basic-grey-text;
  line-height: 18px;
  width: 100%;
  min-height: 150px;
  padding: 9px 12px 9px 15px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 12px 9px 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-left: 19px;
  }
}
