.field-program {
  border: none;
  border-bottom: 1px solid $special-mobile;
  border-top: 1px solid $special-mobile;
}

.field-program__list {
  @include list-style;
}

// .field-program__item{}

.field-program__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
}
// .field-program__input{}
