.field-comment {
  border: none;
}

// .field-comment__label{}

.field-comment__input {
  border: 1px solid $special-input;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-grey-text;
  line-height: 18px;
  width: 100%;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
  }

  //@media (min-width: $desktop-width) {}
}
