.field-addition {
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.field-addition__wrapper {
  @include wrapper-form;
  margin-top: 34px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.field-addition__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 222px);
    grid-template-rows: repeat(2, 40px);
    gap: 32px 123px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.field-addition__item {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    height: 40px;
    margin-bottom: 0;
  }
}

.field-addition__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 46px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    top: -6px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

// .field-addition__input{}

.field-addition__input:checked + .field-addition__label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 9px;
  border-left: 2px solid $basic-green;
  border-bottom: 2px solid $basic-green;
  transform: rotate(-45deg);
  top: 2px;
  left: 6px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 12px;
    top: 2px;
    left: 8px;
  }
}
