.field-contacts {
  border: none;
}

.field-contacts__list {
  @include list-style;
}

.field-contacts__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
}

  @media (min-width: $desktop-width) {}
}

.field-contacts__label {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-grey-text;
}

.field-contacts__input {
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-grey-text;
}
