.form__button-wrapper {
  @include wrapper-form;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
    width: 1440px;
    margin: 0 auto;
  }
}

.form__button {
  border: none;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 282px;
    min-height: 52px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 80px;
  }
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-top: 22px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-top: 17px;
  }
}
