.form__field--wrapper {
  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: 196px;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__title--contacts {
  padding-bottom: 35px;
  padding-left: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 31%;
    background-color: $basic-green;
    right: 0;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-bottom: 76px;

    &::after {
      width: 19%;
      top: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: $basic-green;
      left: 0;
      top: 20px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;

    &::after {
      width: 55%;
    }

    &::before {
      width: 70px;
    }
  }
}

.form__title--comment {
  padding-left: 20px;
  padding-bottom: 38px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: $basic-green;
    right: 0;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-bottom: 76px;

    &::after {
      width: 62%;
      top: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: $basic-green;
      left: 0;
      top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;

    &::after {
      width: 77%;
    }

    &::before {
      width: 70px;
    }
  }
}

.form__title--addition {
  padding-left: 20px;
  padding-bottom: 34px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 43%;
    background-color: $basic-green;
    right: 0;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-bottom: 57px;

    &::after {
      width: 446px;
      top: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: $basic-green;
      left: 0;
      top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;

    &::after {
      width: 75%;
    }

    &::before {
      width: 70px;
    }
  }
}
