.form__wrapper {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: 196px;
    gap: 80px;
    width: 1440px;
    margin: 0 auto;
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  background-color: $basic-white;
  display: inline-block;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__title-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $basic-green;
    width: 100%;
    z-index: -1;
    top: 50%;
  }
}

.form__title-container {
  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.form__title-line--contacts::before {
  top: 30%;

  @media (min-width: $tablet-width) {
    top: 60%;
  }
}

.form__title--contacts {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 39px;
    padding-right: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    margin-left: 70px;
    padding-right: 38px;
  }
}

.form__title--comment {
  padding-left: 20px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 39px;
    padding-right: 40px;
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 42px;
    margin-left: 70px;
  }
}

.form__title--addition {
  padding-left: 20px;
  padding-right: 23px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 41px;
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}
