// .form__button-wrapper{}

.form__button {
  border: none;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 282px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 568px;
    height: 52px;
  }
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
