.main-nav__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: rgba($color: $basic-black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $basic-black, $alpha: 0.3);
  }

  &:focus-visible {
    outline: 1px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $basic-white;

      &:hover {
        color: rgba($color: $basic-white, $alpha: 0.6);
      }

      &:active {
        color: rgba($color: $basic-white, $alpha: 0.3);
      }

      &:focus-visible {
        outline: 1px solid $basic-white;
      }
    }
  }
}
