.main-nav--opened .main-nav__toggle {
  top: 24px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__wrapper {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    background-color: $basic-white;
    left: 0;
    top: 66px;
    width: 100%;
    z-index: 10;
  }
}
