.main-nav--nojs {
  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding-right: 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  @media (max-width: $mobile-width-only) {
    display: block;
    background-color: $basic-white;
    width: 100%;
  }
}
