// .page-main{}
// .page-main{}

.page-main__wrapper {
  padding: 20px;
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.page-main__text {
  text-transform: uppercase;
}

// .page-main__form{}
