.page-header {
  @include wrapper-header;

  &--form,
  &--catalog {
    border-bottom: 1px solid $special-mobile;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 66px;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 140px;
    align-items: stretch;
  }

  &--form,
  &--catalog {
    @media (min-width: $desktop-width) {
      min-height: 188px;
    }
  }
}
