// .page-main{}
// .page-main{}
// .page-main__wrapper{}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
}

// .page-main__text{}

// .page-main__form{}

