.page-main {
  flex-grow: 1;
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__title--catalog {
  @include wrapper;
  border-bottom: 1px solid $special-grey-2;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 163px;
    padding-top: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 165px;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-main__title--form {
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 56px;
  }
}

.page-main__text {
  text-transform: uppercase;
  margin: 0;
  width: 226px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 66px;
  }
}

.page-main__wrapper-form {
  @include wrapper-form;

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}
