// .page-footer{}

.page-footer__contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

// .contacts{}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  font-weight: 400;
  margin: 0;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $basic-grey-text;
}
// .contacts__city{}
// .page-footer__map{}
// .map{}
// .map__image{}

.page-footer__info {
  height: 236px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 147px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    height: 149px;
    flex-direction: row;
  }
}

// .info{}

.page-footer__logo {
  border-bottom: 1px solid $special-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__social {
  border-bottom: 1px solid $special-mobile;
}

//.social {

//}

.social__list {
  @include list-style;
  display: flex;
  justify-content: space-between;
}
// .social__item{}
// .social__link{}
// .page-footer__copyright{}
// .copyright{}

.copyright__link {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey-text;
}
