.page-footer__contacts {
  @media (min-width: $desktop-width) {
    width: 1440px;
    position: relative;
    margin: 0 auto;
  }
}

.page-footer__contacts-container {
  min-height: 112px;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding: 56px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    min-height: 198px;
  }
}

.page-footer__contacts-container--grey {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  font-weight: 400;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 164px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $basic-grey-text;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 155px;
  }
}

.map__image {
  border: none;
  width: 100%;
  min-height: 362px;
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.page-footer__info {
  background-color: $basic-grey;
}

.page-footer__info-container {
  @include wrapper;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 147px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    height: 149px;
    flex-direction: row;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  height: 94px;
  cursor: pointer;
  padding-top: 39px;
  padding-bottom: 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 35px 0;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 0;
  }
}

.page-footer__social {
  @include list-style;
  border-top: 1px solid $special-mobile;
  border-bottom: 1px solid $special-mobile;
  min-height: 63px;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    width: 134px;
    margin-left: 156px;
    margin-right: 125px;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    padding-bottom: 0;
  }
}

.social__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: $special-grey-link;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: rgba($color: $basic-green, $alpha: 0.3);
  }
}

.page-footer__copyright {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey-text;
  height: 78px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__icon {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
    justify-content: flex-end;
  }
}

.copyright__icon {
  fill: $special-grey-link;
}

.copyright__text {
  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}
