.page-header {
  @include wrapper;
  border-bottom: 1px solid $special-mobile;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    min-height: 140px;
  }

  &--form,
  &--catalog {
    @media (min-width: $desktop-width) {
      min-height: 188px;

      .logo {
        margin-top: 53px;
      }

      .main-nav {
        margin-top: 69px;
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 192px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-top: 23px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    margin-top: 50px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__text {
  display: block;
  width: 100%;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.main-nav {
  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--opened .main-nav__toggle {
  top: 24px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    background-color: $basic-white;
    left: 0;
    top: 66px;
    width: 100%;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: absolute;
    background-color: $basic-white;
    left: 0;
    top: 66px;
    width: 100%;
    z-index: 10;
  }
}

.main-nav__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 66px;
  border-top: 1px solid $tablet-border-grey;

  &:last-child {
    border-bottom: 1px solid $tablet-border-grey;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 34px;
    min-height: 24px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
      border-bottom: none;
    }

    &--active {
      position: relative;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 2px;
        bottom: -8px;
        left: 0;
        background: $basic-green;
      }
    }

    &--active-index {
      &::after {
        bottom: -10px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 30px;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 2px;
        bottom: -8px;
        left: 0;
      }
    }

    &--active-index {
      &::after {
        background: $basic-white;
      }
    }
  }
}

.main-nav__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: rgba($color: $basic-black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $basic-black, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $basic-white;

      &:hover {
        color: rgba($color: $basic-white, $alpha: 0.6);
      }

      &:active {
        color: rgba($color: $basic-white, $alpha: 0.3);
      }
    }
  }
}
