.product-card__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__image {
  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
    position: absolute;
    top: -45px;
    left: 81px;

    &--more {
      width: 168px;
      height: 206px;
      top: -73px;
      left: 78px;
    }
  }

  @media (min-width: $desktop-width) {
    left: 42px;
    top: -52px;

    &--more {
      width: 172px;
      height: 202px;
      left: 39px;
      top: -80px;
    }
  }
}

.product-card__content {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special-dark-grey;
  width: 76px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 174px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 112px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }
}


.product-card__list {
  @include list-style;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.product-card__item {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey-text;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid $special-grey;
    padding: 8px 0;

    &:first-child {
      padding-top: 0;
    }
  }
}

.product-card__termin,
.product-card__description {
  margin: 0;
}
