.programs {
  @include wrapper;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
    width: 1440px;
    margin: 0 auto;
  }
}

.programs__list {
  @include list-style;
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  background-color: $basic-grey;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 77px 300px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 51px 59px 52px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 24px;
    left: 22px;
    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: 65%;
      top: 92px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &--weight-loss {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 21px;
      width: 50px;
      height: 50px;
      background-image: url("../../img/icons/weight-loss.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $tablet-width) {
        background-image: url("../../img/icons/weight-loss-tablet.svg");
        width: 140px;
        height: 194px;
        left: 67%;
        top: 81px;
      }

      @media (min-width: $desktop-width) {
        background-image: url("../../img/icons/weight-loss-desktop.svg");
        width: 70px;
        height: 97px;
        left: 67px;
        top: 41px;
      }
    }
  }

  &--weight-gain {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 35px;
      left: 13px;
      width: 68px;
      height: 28px;
      background-image: url("../../img/icons/weight-gain.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $tablet-width) {
        background-image: url("../../img/icons/weight-gain-tablet.svg");
        width: 268px;
        height: 112px;
        left: 60%;
        top: 135px;
      }

      @media (min-width: $desktop-width) {
        background-image: url("../../img/icons/weight-gain-desktop.svg");
        width: 134px;
        height: 56px;
        left: 33px;
        top: 67px;
      }
    }
  }
}

.programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    padding-top: 36px;
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $basic-grey-text;
  border-bottom: 1px solid $special-mobile;
  padding-top: 29px;
  padding-bottom: 23px;
  padding-right: 13px;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    width: 340px;
    border: none;
    padding-top: 24px;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    margin-bottom: 27px;
    width: 470px;
  }
}

.programs__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  position: relative;

  &:hover::before {
    background: url("../../img/icons/icon-arrow-hover.svg");
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../../img/icons/icon-arrow.svg");
    top: 2px;
    left: 100px;
    width: 24px;
    height: 12px;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 132px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}
