.promo {
  background-color: rgba(104, 183, 56, 0.85);
}

.promo__wrapper {
  padding: 20px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

// .promo__image{}

.promo__background {
  opacity: 0.2;
}

.promo__program {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 44px;
}

.promo__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
