.promotion {
  padding: 0 20px;
}

.promotion__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.promotion__image {
  opacity: 0.2;
}

.promotion__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
