.promo {
  position: relative;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    height: 302px;
    width: 100%;
    top: 0;
    z-index: -1;

    background: linear-gradient(rgba($color: $basic-green, $alpha: 0.85), rgba($color: $basic-green, $alpha: 0.85)),
      url("../img/index-img/index-background-mobile.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba($color: $basic-green, $alpha: 0.85), rgba($color: $basic-green, $alpha: 0.85)),
        url("../img/index-img/index-background-mobile@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }


  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 0;

    &::before {
      background: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;

    &::before {
      height: 694px;
      width: 50%;
      top: -144px;
      right: 0;
      background: linear-gradient(rgba($color: $basic-green, $alpha: 0.85), rgba($color: $basic-green, $alpha: 0.85)),
        url("../img/index-img/index-background-desktop.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(rgba($color: $basic-green, $alpha: 0.85), rgba($color: $basic-green, $alpha: 0.85)),
          url("../img/index-img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }
}

.promo__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    background: none;
    height: 810px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    height: 553px;
    width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-white;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin-left: 87px;
    margin-top: 0;
    width: 416px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: 80px;
    padding-left: 0;
  }
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    width: 285px;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.promo__image {
  z-index: -1;
  display: block;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 0;
    left: 558px;
  }
}

.promo__program {
  width: 100%;
  margin-top:3px;

  @media (min-width: $tablet-width) {
    width: 244px;
    position: absolute;
    left: 120px;
    top: 229px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    left: 190px;
    top: 312px;
  }
}

.promo__link {
  min-height: 40px;
  text-decoration: none;
  padding: 7px 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    min-height: 54px;
    padding: 14px 26px;
  }
}
