.promotion {
  background-color: rgba($color: $basic-green, $alpha: 0.85);
  position: relative;
}

.promotion__image {
  opacity: 0.2;
}

.promotion__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  width: 161px;
  position: absolute;
  bottom: 43px;
  left: 58px;
  text-align: center;
}
