//Colors
$basic-green:#68b738;
$basic-green-hover:#5eaa2f;
$basic-grey:#f2f2f2;
$basic-black:#000000;
$basic-white:#ffffff;
$basic-grey-text:#444444;
$special-black:#111111;
$special-grey:#cdcdcd;
$special-grey-2:#ebebeb;
$special-example:#eaeaea;
$special-input:#e7e7e7;
$special-dark-grey:#222222;
$special-mobile:#d9d9d9;
$tablet-border-grey:#e6e6e6;
$tablet-range:#dcdcdc;
$input-error:#ff8282;
$button-hover:#bababa;
//Viewports
$tablet-width:768px;
$desktop-width:1440px;
$mobile-width-only:767px;
